{%  extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-xl-12">
        <div class="alert alert-primary alert-dismissable fade show" role="alert">
                <h3 class="alert-heading">Disclaimer</h3>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <p class="justify-content-between">
                    This is a rough model based on preliminary data. It might not be entirely accurate.
                    It is a very simple model. Please be aware when using.

                    Made by: Akansha, Jeffrey, Johan, Ludovica, Malvika, Martin, Srija
                </p><hr>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Chart of Infection for {{ country or None}}</div>
            <div class="card-body">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-5">
                      <div>


                    <form class="form-horizontal">
                        <fieldset>

                        <!-- Form Name -->
                        <legend>Apply A Regulation</legend>

                        <!-- Select Basic -->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="geo-area">Geographic Area:</label>
                          <div class="col-md-5">
                            <select id="geo-area" name="geo-area" class="form-control">
                                <option value="0">All</option>
                                <option value="California">California</option>
                                <option value="China">China</option>
                                <option value="New York">New York</option>
                            </select>
                          </div>
                        </div>


                        <!-- Select Basic -->
                        <div class="row no-gutters">
                        <div class="col-sm-6">
                            {% for n in range(13) %}
                                {%   if n%2 ==0 %}



                        <div class="form-group">
                            <label class="control-label" for="agg-emergency">{{ fields[n][1] }}:</label>
                            <div class="col-md-5">
                                <select id="{{ fields[n][0] }}" name="{{ fields[n][0] }}" class="form-control">
                                    <option value="1">Not Applied</option>
                                    <option value="2">50%</option>
                                    <option value="3">100%</option>
                                </select>
                            </div>
                        </div>

                        {% endif %}

                            {% endfor %}
                        </div>
                        <div class="col-sm-6">
                             {% for n in range(13) %}
                                {%  if n%2 == 1 %}



                        <div class="form-group">
                            <label class="control-label" for="agg-emergency">{{ fields[n][1] }}:</label>
                            <div class="col-md-5">
                                <select id="{{ fields[n][0] }}" name="{{ fields[n][0] }}" class="form-control">
                                    <option value="1">Not Applied</option>
                                    <option value="2">50%</option>
                                    <option value="3">100%</option>
                                </select>
                            </div>
                        </div>

                        {% endif %}

                            {% endfor %}
                                </div>
                        </div>

                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="apply">Submit:</label>
                      <div class="col-md-4">
                        <button id="apply" name="apply" class="btn btn-primary">Apply</button>
                      </div>
                    </div>

                    </fieldset>
                    </form>

                </div>
                    </div>
                    <div class="col-sm-7">
                        <legend>Model of Infection Rate</legend>
                      <div class="chart" id="bargraph">

                            <script>
                                var graphs = {{plot | safe}};
                                Plotly.plot('bargraph',graphs,{});
                            </script>
                        </div>
                    </div>
                  </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Regulations Enacted for {{ country or None }}</div>
            <div class="card-body">
                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
{#                                                ['Source', 'descriptions', 'titles', 'dates',#}
{#               'locations_identified_titles','latlon_titles',#}
{#               'new_case_highest-N-text_extract',#}
{#               'acc_case_highest-N-text_extract']#}
                                                <th>State</th>
                                                <th>Date</th>
                                                <th>Regulation</th>
                                                <th>Score</th>
                                                <th>Level</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>State</th>
                                                <th>Date</th>
                                                <th>Regulation</th>
                                                <th>Score</th>
                                                <th>Level</th>
                                                <th>Description</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                        {%  for index, row in table.iterrows() %}
                                            <tr>
                                                <td>{{ row["State"] }}</td>
                                                <td>{{ row["Date"] }}</td>
                                                <td>{{ row["Regulation"] }}</td>
                                                <td>{{ row["Score"] }}</td>
                                                <td>{{ row["Fed/State/Area"] }}</td>
                                                <td>{{ row["Description (5-7 words)"] }}</td>
                                            </tr>
                                        {%  endfor %}
                                        </tbody>
                                    </table>
            </div>
        </div>
    </div>
</div>

{%  endblock %}

