{%  extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-xl-12">
        <div class="alert alert-primary alert-dismissable fade show" role="alert">
                <h3 class="alert-heading">Important Message</h3>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <p class="justify-content-between">
                    This is based on an Natural Language Processing and Named Entity Recognition Model,
                        thus the data is close but not extremely accurate. It is a good example of data that
                        can be parsed and interpreted using these techniques.
                </p><hr>
                <a class="btn btn-dark"
                   href="http://martinsiron.com/2020/02/03/using-named-entity-recognition-and-natural-language-processing-to-build-a-map-of-accumulated-infections-of-n-cov2019/">
                    Look at the blog post for more details</a>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Map of Accumulated Infection as of {{ date }}</div>
            <div class="card-body">
                <div class="chart" id="bargraph">
                    <script>
                        var graphs = {{plot | safe}};
                        Plotly.plot('bargraph',graphs,{});
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Information from {{ date }}</div>
            <div class="card-body">
                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
{#                                                ['Source', 'descriptions', 'titles', 'dates',#}
{#               'locations_identified_titles','latlon_titles',#}
{#               'new_case_highest-N-text_extract',#}
{#               'acc_case_highest-N-text_extract']#}
                                                <th>Source</th>
                                                <th>Title</th>
                                                <th>Description</th>
                                                <th>Dates</th>
                                                <th>Identified Locations</th>
                                                <th>Identified New Cases</th>
                                                <th>Identified Accumulated Cases</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Source</th>
                                                <th>Title</th>
                                                <th>Description</th>
                                                <th>Dates</th>
                                                <th>Identified Locations</th>
                                                <th>Identified New Cases</th>
                                                <th>Identified Accumulated Cases</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                        {%  for index, row in table.iterrows() %}
                                            <tr>
                                                <td>{{ row["Source"] }}</td>
                                                <td>{{ row["titles"] }}</td>
                                                <td>{{ row["descriptions"] }}</td>
                                                <td>{{ row["dates"] }}</td>
                                                <td>{{ row["locations_identified_titles"] }}</td>
                                                <td>{{ row["new_case_highest-N-text_extract"] }}</td>
                                                <td>{{ row["acc_case_highest-N-text_extract"] }} <br>
                                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#details-{{ index }}">
                                                      Details
                                                    </button>
                                                </td>
                                            </tr>
                                        {%  endfor %}
                                        </tbody>
                                    </table>
            </div>
        </div>
    </div>
</div>

{% for index, row in table.iterrows() %}

    <!-- Modal -->
    <div class="modal fade" id="details-{{ index }}" tabindex="-1" role="dialog"  aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ row["titles"] }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Description: </strong> {{ row["descriptions"] }}</p>
                    <p><strong>Identified Locations in Title: </strong> {% for loc in row["locations_identified_titles"] %}{{ loc }}, {% endfor %}</p>
                    <p><strong>Identified Locations in Description: </strong> {% for loc in row["locations_identified_descriptions"] %}{{ loc }}, {% endfor %}</p>
                    <p><strong>Identified Accumulated Case:</strong> {{ row["acc_case_highest-N-text_extract"] }}
                        <span class="badge badge-warning">(Prob. {{ (100*row['acc_case_highest-N-prob'])|round(2) }} %)</span> <br>
                    From text: {{ row['acc_case_highest-I-text'] }}</p>
                    <p><strong>Identified New Case:</strong> {{ row["new_case_highest-N-text_extract"]}}
                        <span class="badge badge-warning">(Prob. {{ (100*row['new_case_highest-N-prob'])|round(2) }} %)</span> <br>
                    From text: {{ row['new_case_highest-I-text'] }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endfor%}

{%  endblock %}

